<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{planet.name}}">
  <ion-content class="padding">
    <div class="row">
        <div class="column col-40">
            <img ng-src="img/{{planet.name | lowercase }}.png" style="height: 125px; width: 125px;">
        </div>
        <div class="column col-60 planet-top-data">
            <h2>{{ planet.name }}</h2>
        </div>
    </div>
    <ul class="list">
        <li class="item">
            Parent body: {{ planet.parent }}
        </li>
        <li class="item">
            Altitude: {{ planet.alt }} km
        </li>
        <li class="item">
            Radius: {{ planet.radius }} m
        </li>
        <li class="item">
            Inclination: {{ planet.inclination }}&deg;
        </li>
        <li class="item">
            Sphere of influence: {{ planet.soi }} km
        </li>
    </ul>
  </ion-content>
</ion-view>
