<ion-view view-title="Wiki">
    <ion-content>
        <div class="list">

        <label class="item item-input item-select">
            <div class="input-label">
                Page
            </div>
            <select
                ng-model="myPage"
                ng-options="page.name for page in pages">
            </select>
        </label>

        </div>
        <div class="card wikiCard">
            <textarea ng-model="myPage.text" ng-keypress="updateEditor()" id="pageText" class="item item-text-wrap" contenteditable="true">
                {{myPage.text}}
            </textarea>
            <button ng-click="savePages(myPage)" class="button button-outline icon button-large ion-android-cloud-done button-balanced"></button>
            <button ng-click="showPopup()" class="button button-outline icon ion-plus-round button-large button-calm"></button>
            <button ng-click="removePage(myPage)" class="button button-outline icon ion-close-circled button-large button-assertive"></button>
        </div>
    </ion-content>

</ion-view>
