<ion-view view-title="Wiki">
    <ion-content>
        <div class="list">

        <label class="item item-input item-select">
            <div class="input-label">
                Page
            </div>
            <select
                ng-change="setText()"
                ng-model="myPage"
                ng-options="page as page.name for page in pages">
                <option>--</option>
            </select>
        </label>

        </div>
        <div class="card">
            <div ng-bind="bodyText" class="item item-text-wrap">

            </div>
        </div>
    </ion-content>

</ion-view>
