<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-calm">

  <ion-tab title="Calculators" icon-off="ion-calculator" icon-on="ion-calculator" href="#/tab/calc">
    <ion-nav-view name="tab-calc"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Planets" on-deselect="reset()" icon-off="ion-planet" icon-on="ion-planet" href="#/tab/planets">
    <ion-nav-view name="tab-planets"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Wiki" icon-off="ion-pound" icon-on="ion-ios-gear" href="#/tab/wiki">
    <ion-nav-view name="tab-wiki"></ion-nav-view>
  </ion-tab>


</ion-tabs>
